header{
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 32px;
}

h1, h5, p{
    margin: 0;
}

#main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 24px;

    align-items: center;
    justify-items: center;

    padding: 0 32px;
}

.card{
    border: 1px solid black;

    text-align: center;

    padding: 16px;
}